.hero {
  position: relative;
  min-height: 85svh;
  max-height: 64rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: clamp(1rem, 3vw , 3rem);
  align-items: stretch;
  overflow: hidden;
  padding-top: calc(clamp(4rem, 8vw, 8rem) + var(--nav-h-desktop));
}

.navSentinel {
  position: absolute;
  top: 25%;
  width: 1px;
  height: 1px;
}

.heroBg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroBg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroBg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.40);
  z-index: 1;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  width: calc(100% - var(--gutter) * 2);
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.textContentBox {
  max-width: 50rem;
  padding-inline: calc(var(--gutter) / 2);
}

.textContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-6);
}

.header {
  font-size: clamp(2.5rem, 4vw, 4.5rem);
  color: var(--color-light);
  text-wrap: balance;
}

.subheading {
  font-size: 1.25rem;
  color: var(--color-muted-light);
  text-wrap: pretty;
}