.headingBox {
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    display: flex;
}

.textBox {
    flex-basis: 75%;
    max-width: 75%;
    padding-right: calc(var(--gutter) / 2);
    padding-left: calc(var(--gutter)) / 2;
    flex: 1;
}

.textCol {
    gap: clamp(0.75rem, 1.5vw, 1.5rem);
    flex-flow: column;
    justify-content: flex-start;
    justify-content: flex-start;
    display: flex;
}

.sectionName {
    color: var(--color-dark);
    opacity: 0.6;
    font-family: var(--font-mono);
    letter-spacing: var(--ls-cta);
    font-size: clamp(.62rem, 0.7vw, 1rem);
    text-transform: uppercase;
    text-wrap: balance;
    margin-top: 0;
}

.heading {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    text-wrap: balance;
    margin-top: 0;
    margin-bottom: 0;
}

.subheading {
    text-wrap: pretty;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60ch;
    color: var(--color-dark);
    opacity: 0.6;
}