.section {
    padding-top: clamp(1rem, 8vw , 8rem);
    padding-bottom: clamp(1rem, 8vw , 8rem);
    position: relative;
    display: block;
}

.root {
    width: calc(100% - var(--gutter) * 2);
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    gap: clamp(1.5rem, 4vw, 4rem);
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
}
