.list {
  display: flex;
  gap: var(--space-4);
  list-style: none;
}

.link {
  color: var(--gray-1);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  color: var(--gray-6);
}